:root {
    --primary-color: rgb(154, 223, 246); /* define the primary color as red */
    --secondary-color: #ffffff; /* define the secondary color as white */
    --tertiary-color: rgb(255, 192, 203); /* define the tertiary color as pink */
  }

  main {
    color: var(--tertiary-color);
    background-color: var(--tertiary-color);
  }
  
  body {
    margin: 50 auto;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--tertiary-color);
  }

  .container {
    max-width: 800px;
    margin: 50 auto;
    text-align: center;
    background-color: var(--primary-color);
  }
  
  .row {
    background-color: var(--primary-color);
  }

  a {
    display: block;
    margin-top: 20px;
    color: var(--secondary-color);
    border: solid var(--tertiary-color);
    background-color: var(--tertiary-color); /* use the primary color for links */
  }

  h1 {
    color: var(--tertiary-color);
    font-size: 30px;
    -webkit-text-stroke: 2px var(--secondary-color); 
  }
  
  h2 {
    color: var(--secondary-color); /* use the secondary color for headings */
    font-size: 25px;
    -webkit-text-stroke: 2px var(--secondary-color);
  }

  p {
    color: var(--secondary-color);
    font-size: 20px;
    font-weight: bold;
    -webkit-text-stroke: 1px var(--tertiary-color);
  }
  
  label {
    color: var(--secondary-color);
    font-size: 20px;
    font-weight: bold;
    -webkit-text-stroke: 1px var(--tertiary-color);
  }

  .navbar {
    color: var(--primary-color);
    background-color: var(--primary-color);
  }

  .container-fluid {
    color: var(--primary-color);
    background-color: var(--primary-color);
  }

  
  .navbar-toggler {
    color: var(--tertiary-color);
    background-color: var(--tertiary-color);
  }

  .navbar-toggler-icon {
    color: var(--tertiary-color);
    background-color: var(--secondary-color);
  }

  .manga-page{
    text-align: left;
  }

  .image-container {
    position: relative;
    display: inline-block;
    max-width: max-content;
    width: 200px;
    height: 200px;
    padding-bottom: 350px;
    margin: 10px;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0,0,0,0.5);
  }
  
  .image-container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    justify-content:flex-start;
  }
  
  .hidden-content {
    display: none;
  }

  body {
    font-family: Arial, sans-serif;
  }

  .hero-div {
    background-color: var(--primary-color);
    color: var(--primary-color);
  }

  .nav-color{
    color: var(--primary-color);
    background-color: var(--tertiary-color);
  }