{% extends 'base.html' %}

{% block title %}Manga List{% endblock %}

{% block header %}
    <h1>Manga List</h1>
{% endblock %}

{% block content %}
    {% for manga in media %}
        <div>
            <h2>{{ manga['title']['romaji'] }}</h2>
            <img src="{{ manga['coverImage']['large'] }}" alt="{{ manga['title']['english'] }}">
            <p>{{ manga['genres'] }}</p>
            <p>{{ manga['description'] }}</p>
            <a href="/mangapage?media_id={{ manga['id'] }}">Get More Information and View Reviews</a>
        </div>
    {% endfor %}
{% endblock %}