{% extends 'base.html' %}

{% block title %}{{ media['title']['english'] }}{% endblock %}

{% block header %}
    <h1>{{ media['title']['english'] }}</h1>
{% endblock %}

{% block content %}
        <div>
            <div>
                <img src="{{ media['coverImage']['large'] }}" alt="{{ media['title']['english'] }}">
                <p>{{ media['genres'] }}</p>
                <p>{{ media['description'] }}</p>
                <a href="/reviews?media_id={{ media['id'] }}">View Reviews</a>
            </div>
        </div>
        <div>
            <h2>Similar Manga</h2>
        </div>

        <div class="row manga-page">
            {% for edge in edges %}
            {% set mediaRecommendation = edge.node.mediaRecommendation %}
            {% if mediaRecommendation.coverImage %}
             
            <div class="col column manga-pics">
                <div class="image-container">
                    <img src="{{ mediaRecommendation.coverImage.large }}" alt="{{  edge.node.media.title.english }} cover image">
                    <div class="overlay">
                      <a href="/mangapage?media_id={{ edge.node.mediaRecommendation.id }}"><p class="text">{{ edge.node.mediaRecommendation.title.romaji }}</p></a>
                    </div>
                  </div>
                
            </div>
            {% endif %}
            {% endfor %}
        </div>


{% endblock %}  